@charset "utf-8";
@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  font-size: 16px;
  letter-spacing: -2px;
  font-family: "DM Sans", sans-serif;
  --gapBig: 4rem;
  --gapSmall: 0.5rem;
  --mx: 1440px;
  --colorBlack: #555555;
  --colorP1: #dde8ea;
  --colorP2: #b5deda;
  --colorP3: #8dccd3;
  --colorP4: #3e89c2;
  --colorP5: #e9dad3;
  --colorP6: #f8efe8;
}

.mw {
  width: calc(100% - var(--gapBig));
  max-width: var(--mx);
  margin: 0 auto;
}
/* common */
section {
  margin-bottom: 2rem;
}
img {
  width: 100%;
  display: block;
}

/* Header컨포넌트 */

.Header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.Main {
  border: 1px solid red;
}
.MainBanner {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 70%, var(--colorP3) 30%);
}
.MainBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--colorP2);
}
.MainBanner .inner {
  display: flex;
  position: relative;
}

.MainBanner .left {
  background-color: var(--colorP2);
  border-radius: 0 10px 10px 0;
  padding: 2rem 0;
  width: 65%;
}
.MainBanner .textCon {
  color: #fff;
  padding: 2rem 0;
  position: relative;
}
.MainBanner .textCon h2 {
  font-family: "KimjungchulGothic-Bold";
  font-size: 2rem;
}
.MainBanner .textCon h2 span {
  color: var(--colorP4);
  border-bottom: 2px solid var(--colorP4);
}
.MainBanner .textCon p {
  font-size: 1rem;
  letter-spacing: -2.5px;
  padding-top: 0.25rem;
}
.MainBanner .textCon label {
  display: flex;
  width: 80%;
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin-top: var(--gapSmall);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainBanner .textCon label input {
  width: 80%;
  border: none;
  outline: none;
  color: var(--colorBlack);
}
.MainBanner .textCon label img {
  width: 20px;
}
.MainBanner .textCon > a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--colorP3);
  margin-top: 1rem;
  box-shadow: 7px 5px 0px #7cb2ca;
  font-size: 1rem;
}
.MainBanner .imgCon {
  width: 40%;
  position: relative;
  /* background-size: contain; */
}

.MainBanner .imgCon img {
  position: absolute;
  bottom: 0;
}

.MainBanner .imgCon .img1 {
  width: 25%;
  left: 0;
}

.MainBanner .imgCon .img2 {
  right: 0;
  width: 50%;
}

.Footer {
  height: 90px;
  background-color: #bab9b9;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 0.85rem;
}
.Footer .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Footer .imgCon {
  width: 70px;
  padding: 0.25rem 0 0.5rem;
}

.Footer .inner > p {
  width: 100%;
  text-align: center;
  letter-spacing: 0px;
}
.Footer .inner > p:first-of-type {
  border-top: 1px solid #fff;
  padding: 0.25rem 0;
}
/* 다현언니 */
.mySwiper {
  border: 1px solid red;
  height: 500px;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  border: 5px solid dodgerblue;
  top: 50%;
  bottom: auto;
  width: 200px;
  right: -10px;
  left: auto;
  transform: rotate(90deg);
}

@media (max-width: 880px) {
  .MainBanner .left {
    width: 100%;
  }
  .MainBanner .imgCon {
    display: none;
  }
}
